<p class="fs-1">Đăng Ký</p>

<form method = "POST">


    <h3>Nhập Email</h3>
    <input placeholder="Email" name="Email" style = "width : 50%" type="text" class="form-control" aria-label="Text input with segmented dropdown button">


    <h3>Nhập Password</h3>
    <input placeholder="Password"  name="Password" style = "width : 50%" type="text" class="form-control" aria-label="Text input with segmented dropdown button">
    
    <button style = "margin-top: 50px;" type = "submit" class="btn btn-primary">Đăng Ký</button>

</form>
